<!--
/// <summary>
/// Module purpose: Main Template page for template create, edit and delete functionality
/// Authors: Hansol Lee / Jei Yang
/// Date: Oct 26, 2022
/// Source: Created for the COMP7022 project
/// Revision History:
///     Nov 6, 2022 (Jei Yang): updated for template list display
/// </summary>
-->
@model TrainingApp.Models.TemplateViewModel
@{
    ViewData["Title"] = "Template Page";
}

@section Scripts
{
    <script src="@Url.Content("~/js/pages/template/template.js")"></script>
}

@section Styles {
    <link href="@Url.Content("~/css/pages/template.css")" rel="stylesheet" type="text/css" />
}

<hr class="solid" />

<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h3 class="page-title">Template</h3>
            </div>
        </div>
        <button id="createTemplateModalBtn" class="btn btn-primary mt20" type="button">
            <i class="fas fa-plus-circle"></i>
            NEW
        </button>
    </div>

    <partial name="_TemplateFilter" />

    <div class="bg-white m20 p20">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="table-responsive">
                        <table class="table no-wrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0">NAME</th>
                                    <th class="border-top-0">DATE</th>
                                    <th class="border-top-0">CREATOR</th>
                                    <th class="border-top-0">ALL TASK MANDATORY?</th>
                                    <th class="border-top-0">GRADING SCHEMA</th>
                                    <th class="border-top-0">OPTIONS</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach(var template in Model.Templates)
                                    {
                                        <tr>
                                            <td>@template.Name</td>
                                            <td class="txt-oflo">@template.CreatedTime</td>
                                            <td>@template.Created.FirstName @template.Created.LastName</td> <!--Creator Name-->
                                            <td class="txt-oflo"> @(template.IsTaskMandatory ? "Yes" : "No")</td>
                                            <td>@Html.DisplayFor(model => template.GradingSchema)</td>
                                            <td>
                                                <button class="btn text-primary"><i class="fas fa-search"></i></button>
                                                <button id="editTemplateBtn" class="btn text-warning" type="button">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </button>
                                                <button id="deleteTemplateBtn" type="button" class="btn text-danger" type="delete" onclick="confirmDeleteTemplate('@template.ID')"
                                                    data-bs-toggle="modal" data-bs-target="#deleteModal">
                                                    <i class="far fa-trash-alt"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_CreateTemplate" model="Model.Template"/>


<!----Delete Confirmation modal starts here--->
<div id="deleteModal" class="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="modalClose('deleteModal')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="modalClose('deleteModal')">Cancel</button>
        <button type="button" class="btn btn-danger" id="deleteButton">Delete</button>
      </div>
    </div>
  </div>
</div>
<!--Modal ends here--->