<!--
/// <summary>
/// Module purpose: partial view to display the selected template's details
/// Authors: Hansol Lee / Jei Yang
/// Date: Oct 26, 2022
/// Source: Created for the COMP7022 project
/// Revision History:
///
/// </summary>
-->
@model TrainingApp.Models.TemplateViewModel
@{
    ViewData["Title"] = "Template Details Page";
}

@section Scripts
{
<script src="@Url.Content("~/js/pages/template/task.js")"></script>
}

@section Styles {
<link href="@Url.Content("~/css/pages/template.css")" rel="stylesheet" type="text/css" />
}

<hr class="solid" />
<div class="tab-pain" id="v-pills-view-template" role="tabpanel" aria-labelledby="v-pills-view-template">
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">@Html.ActionLink("< Go to Templates", "Index", "Template")</h4>
                </div>
            </div>
        </div>
        <div class="bg-white m20 p20">
            <div class="row align-items-center pb-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">@Model.Template.Name</h4>
                </div>
            </div>
            <div class="row align-items-center pb-3">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <button id="createTaskModalBtn" class="btn btn-primary mt20" type="button" onclick="getTaskInfo('0', '@Model.Template.ID')"> <!-- -->
                        <i class="fas fa-plus"></i>
                        Create Task
                    </button>
                    <input type="text" class="form-control hide" id="templateState" value="@Model.Template.State" disabled>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                        <!--CONTENTS BEGIN-->
                        <div class="drop">
                            <div class="list-group drop__container" id="taskListBody">
                                <partial name="_TaskListBody" model="Model" />
                            </div>
                        </div>
                        <!--CONTENTS END-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<partial name="_CreateTask" model="Model" />-->
<partial name="../Shared/_DeleteModal" /> 



<div class="modal" id="createTaskModal" tabindex="-1" role="dialog" aria-labelledby="createTaskLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createTaskLabel"><span class="action"></span> Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="modalClose('createTaskModal')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="taskModalBody">
                <!-- Create/Edit Task content goes here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light button-left" type="delete" onclick="modalClose('createTaskModal')">Close</button>
                <button type="button" class="btn btn-primary"  onclick="validateTaskForm('createTaskForm')">
                    <span class="action"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop hide" style="display:none"></div>